# ** という名前のディレクトリ（およびその中の内容）のみを無視
/Binary/

# リポジトリ内のどこにあっても .** ディレクトリを無視
.vs/
.idea/

# リポジトリ内のどこにあっても .** ファイルを無視
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# 現在のディレクトリ（.gitignore が置かれているディレクトリ）の直下のファイルだけを無視
/*.exe